{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pronostics</title>
    <link href="{% static 'bootstrap/css.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="top">
        <div class="inx">
            <div class="in">
                <h1> <a href="{% url 'acceuil' %}"><img src="{% static 'bootstrap/francecourse.png' %}" alt=""> <br></a> </h1>
                <div class="menu">
                    <a href="{% url 'acceuil' %}" style=" color: white;">Accueil</a>
                    <a href="{% url 'pronostics' %}">Pronostics</a>
                    <a href="{% url 'abonnement' %}">Abonnement</a>
                    <a href="{% url 'archive' %}">Archives</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sep"></div>
    <div class="content">
        <div class="inx">
            <div class="in">
                <div class="pan_left">
                    <strong class="tito2">Accès Neosurf</strong>
	                <div class="cop" style="background:white;">
		                <div class="texx">
			             <center><a href="http://basepronoquinte.com/pop/index.php"  onclick="window.open('http://basepronoquinte.com/pop/index.php', 'newwindow', 'width=430,height=698'); return false;"><img src="{% static 'bootstrap/neosurf.png' %}" style="width:100%;" /></a></center>
		                </div>
                    </div>
                    <strong class="tito2">Accès Allopaass</strong>
	                <div class="cop" style="background:white;">
		               <div class="texx">
			              <center>
				               <h3>Accès Allopass</h3> <br> <!-- Begin Allopass Checkout-Button Code -->
                                <script type="text/javascript" src="https://payment.allopass.com/buy/checkout.apu?ids=355162&idd=1549833&lang=fr"></script>
                                   <noscript>
                                      <a href="https://payment.allopass.com/buy/buy.apu?ids=355162&idd=1549833" style="border:0">
                                        <img src="https://payment.allopass.com/static/buy/button/fr/162x56.png" style="border:0" alt="Buy now!" />
                                     </a>
                                   </noscript>

                                <form action="https://payment.allopass.com/onetime/access.apu" method="post">
                                   <input type="hidden" name="ids" value="355162" />
                                   <input type="hidden" name="idd" value="1549833" />
                                   <div>Enter your access code</div>
                                    <input type="text" name="code[]" />
                                    <input type="button" name="APsub" value="" onclick="this.form.submit();this.form.APsub.disabled=true;" style="border:0px;margin:0px;padding:0px;width:48px;height:18px;background:url('https://payment.allopass.com/imgweb/common/bt_ok.gif');" />
                                </form></center>
		               </div>
                     </div>
                     <strong class="tito2">Les partenires</strong>
	                 <div class="cop" style="background:white;">
		                <div class="texx">
                            <a href="http://lemagicienduturf.proquinte.com/" target="_blank" class="si"><img src="http://lemagicienduturf.proquinte.com/le-magicien-du-turf.gif" style="width:100%; margin-bottom:7px;"></a>
            
                            <a href="http://le-dauphine-libere.proquinte.com/" target="_blank" class="si"><img src="http://le-dauphine-libere.proquinte.com/le-dauphine-libere.gif" style="width:100%; margin-bottom:7px;"></a>		
						</div>
                    </div>
                     <strong class="tito">Nos partenaires</strong>
     <div class="cop">
         basepronoquinte.com est en partenariat avec des experts du pronostics hippiques. <br>
         <div class="bana">
            <a href="http://avantlacourse.proquinte.com/" target="_blank" class="si"><img src="http://avantlacourse.proquinte.com/avantlacourse.gif" alt=""></a>
            <a href="http://marleneturf.proquinte.com/" target="_blank" class="si"><img src="http://marleneturf.proquinte.com/marleneturf.gif" alt=""></a>
            <a href="http://genycourses.proquinte.com/" target="_blank" class="si"><img src="http://genycourses.proquinte.com/genycourses.gif" alt=""></a>
            <a href="http://turfez.net/" target="_blank" class="si">               <img src="http://turfez.net/turfez.gif" alt=""></a>		             		             
         </div>
     </div>
 </div>
 <div class="pan_right">
    <strong class="tito">Accédez aux pronostics</strong>
    <div class="cop shad2">
        <div class="form_pac">
            <center>
                <div class="tex">Pour vous bénéficier d'un abonnement, achetez un code Neosurf puis effectuez le paiement en cliquant sur le bouton ci-dessous. <a href="https://www.neosurf.com/" target="_blank" style="color: #E8078A; text-decoration: underline;">Où acheter un code Neosurf?</a></div>
				<input type="hidden" name="typ_ach" value="abonnement" />
                <center><a href=""  onclick="window.open('http://basepronoquinte.com/pop/index.php', 'newwindow', 'width=430,height=698'); return false;"><img src="{% static 'bootstrap/neosurf.png' %}" style="width:250px; margin-top:15px; margin-bottom:5px;" /></a></center>
                <center><p>Entrez le login et code accès <br> pour voir les pronostics</p> <br></center>
                <div class="accxo">
					<form action="pronostic.php" method="post">
						<style type="text/css">
							.dre1{display: grid; grid-template-columns: 1fr; margin: auto; grid-gap: 15px; width: 370px; padding-bottom: 30px;}
							.dre1 input{padding: 10px; border:solid 2px silver; padding: 6px; font-size: 18px;}
							.dre1 input:focus{ border:solid 2px #6BCEF5; }
						</style>
						<div class="dre1">
							<input type="text" name="login" placeholder="Votre Login " />
							<input type="password" placeholder="Code d'accès" name="passw" />
							<input type="submit" value="accéder maintenant" class="sub" />
						</div>
					</form> 
				</div>
				<hr>
            </center>
        </div>
    </div>
 </div>
 <div class="pan_left">
    <a href="http://www.root-top.com/topsite/zetop/in.php?ID=152"><img src="http://img.root-top.com/topsite/zetop/banner.gif" border="0" alt="basepronoquinte" title="basepronoquinte" style="width: 100%;"><br /></a>
    <strong class="tito">Accès pronostics</strong>
                    <div class="cop" style="background:white">
						<form action="pronostic.php" method="post">
							<div class="inin">
								<p class="adv">Entrez votre code d'accès et mot de passe pour accéder aux pronostics</p>
								<input type="text" name="login" placeholder="Code d'acces" />
								<input type="password" name="passw" placeholder="Mot de passe" />
							</div>
							<center><button style="border:0px;" class="raisedButton">Accéder</button></center>
						</form>
                    </div>
                    <strong class="tito">Contactez-nous</strong>
					<div class="cop" style="background:white;">
						<center> 
							<b>&#9993; Email:</b> <br /> service@basepronoquinte.com <br>
							<b>&#9742; Europe(Tel & Watshapp):</b> <br> 0033 679 386 308 <br>
							<b>&#9742; Afrique(Tel):</b> <br> 00226 65 96 96 11 <br>
						</center>
                    </div>
					<!--<a href="https://play.google.com/store/apps/details?id=com.afroafrica.africacourse" target="_blank"><img src="img/bannera.png" style="width:100%; margin-bottom:6px;" /></a>-->
					<strong class="tito">Abonnement</strong>
                    <div class="cop">Pour vous abonner, c'est tout simple. Veuillez nous écrire en précisant la période d'abonnement
                        <center><a href="{% url 'abonnement' %}" class="raisedButton">Abonnez-vous</a></center>
                    </div>
                    <strong class="tito">Ils nous suivent</strong>
                    <div class="cop">
					<!-- BEGIN: Powered by Supercounters.com -->
<center><script type="text/javascript" src="//widget.supercounters.com/ssl/flag.js"></script><script type="text/javascript">sc_flag(1554219,"FFFFFF","000000","cccccc",2,14,0,0)</script><br><noscript><a href="http://www.supercounters.com/">Flag Counter</a></noscript>
</center>
<!-- END: Powered by Supercounters.com -->


					</center>
                    </div>
                    <style>
				        .pan_left .pix_car3{display: grid; grid-template-columns: 1fr 1fr 1fr; padding: 0px;  grid-gap: 5px;}
				    	.pan_left .pix_car3 a{display: block; padding: 0px;}
				    	.pan_left .pix_car3 a img{width: 100%; height: 52px;}
				    </style>
                     <div class="pix_car3">
                        <a href="http://www.root-top.com/topsite/bettop/in.php?ID=49"><img src="http://img.root-top.com/topsite/bettop/banner.gif" alt="bet top" title="bet top" border="0" /></a>
     
     	
                        <a href="http://www.root-top.com/topsite/minarik/in.php?ID=82"><img src="http://img.root-top.com/topsite/minarik/banner.gif" alt="minarik" title="minarik" border="0" /></a>
                        <a href="http://www.root-top.com/topsite/turfbase/in.php?ID=544"> <img src="http://img.root-top.com/topsite/turfbase/banner.gif" alt="top site turf base" title="top site turf base" border="0" /></a>
                        
                        <a href="http://www.root-top.com/topsite/pmuturf/in.php?ID=403"> <img src="http://img.root-top.com/topsite/pmuturf/banner.gif" alt="pmu turf" title="pmu turf" border="0" /></a>
                        <a href="http://www.root-top.com/topsite/jmpep80top/in.php?ID=1036"> <img src="http://img.root-top.com/topsite/jmpep80top/banner.gif" alt="jmpep80top" title="jmpep80top" border="0" /></a>
                        <a href="http://www.root-top.com/topsite/classement_general/in.php?ID=2171"> <img src="http://img.root-top.com/topsite/classement_general/banner.gif" alt="classement general root top com" title="classement general root top com" border="0" /></a>
                        <a href="http://www.root-top.com/topsite/topturfjs/in.php?ID=1798"> <img src="http://img.root-top.com/topsite/topturfjs/banner.gif" alt="topturfjs" title="topturfjs" border="0" /></a>
                        <a href="http://www.root-top.com/topsite/baseprono/in.php?ID=259"> <img src="http://img.root-top.com/topsite/baseprono/banner.gif" alt="base prono" title="base prono" border="0" /> </a>
                        <a href="http://www.root-top.com/topsite/tofturf/in.php?ID=907"> <img src="http://img.root-top.com/topsite/tofturf/banner.gif" alt="tof turf" title="tof turf" border="0" /> </a>
                        <a href="http://www.root-top.com/topsite/turfoscope/in.php?ID=557"> <img src="http://img.root-top.com/topsite/turfoscope/banner.gif" alt="turfoscope" title="turfoscope" border="0" /></a>
                        <a href="http://www.root-top.com/topsite/bettop/in.php?ID=49"> </a>		
                     </div>
</div>
 </div>
                </div>
            </div>

        </div>
    </div> 
    <div class="foot">
        <div class="inx">
            <div class="in">
                <h5>FRANCECOURSES &copy; Tous les droits sont réservés 2023  <br /> Annuaire des sites de pronostics hipiques | Email: francecourses@gmail.com <a href="https://mail12.lwspanel.com/webmail/" target="_blank">WEBMAIL</a> </h5>
            </div>
        </div>
    </div> 
    
</body>
</html>